:root {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  --regular-50-a: 5rem;
  --regular-45-a: 4.5rem;
  --regular-40-a: 4rem;
  --regular-35-a: 3.5rem;
  --regular-30-a: 3rem;
  --regular-25-a: 2.5rem;
  --regular-20-a: 2rem;
  --regular-15-a: 1.5rem;
  --regular-10-a: 1rem;
  --regular-5-a: 0.5rem;
  --regular-1-a: 0.1rem;
  --card-width: 27rem;
  --card-height: 40rem;
  --card-shadow-transition: 0.5s;
  --card-shadow-color: rgba(0,0,0,0.1);
  --img-width: 80%;
  --testing-border: 2px solid red;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: var(--img-width);
  height: var(--img-width);
  object-fit: cover;
}



/* main {
  margin-top: calc(var(--regular-10-a) + 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
} */

.card-outfit {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--regular-20-a);
  box-shadow: 0px 7px 0px -3px var(--card-shadow-color);
  transition: var(--card-shadow-transition);
}

.card-outfit:hover {
  box-shadow: 0px 4px 14px 0px var(--card-shadow-color);
  transition: var(--card-shadow-transition);
}

.card-border {
  border: var(--testing-border);
}

.card-content-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr 2fr;
  background: linear-gradient(rgb(239, 223, 196), rgb(241, 234, 221));

}

.card-content-grid-row1 {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 20% 65% 15%;
  grid-template-rows: 1fr;
  border-top-left-radius: var(--regular-20-a);
  border-top-right-radius: var(--regular-20-a);

}

.card-content-grid-row1--avatar {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-content-grid-row1--avatar--img {
  width: var(--regular-45-a);
  height: var(--regular-45-a);
  border-radius: var(--regular-20-a);
  background-color: white;
}

.card-content-grid-row1--description {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-content-grid-row1--description--username {
  font-size: 2rem;
}

.card-content-grid-row1--description--time {
  font-size: 1.7rem;
}

.card-content-grid-row1--more {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content-grid-row1--more--img {
  width: var(--regular-20-a);
  height: var(--regular-20-a);
}


.card-content-grid-row2 {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content-grid-row2--img {
  width: 100%;
  height: 100%;
}

.card-content-grid-row3 {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(4, var(--regular-20-a));
  grid-template-rows: 1fr;
  align-items: center;
}

.card-content-grid-row3--like--img {
  grid-column: 2;
  width: var(--regular-20-a);
  height: var(--regular-20-a);
}


.card-content-grid-row3--comment--img {
  grid-column: 4;
  width: var(--regular-20-a);
  height: var(--regular-20-a);
}

.card-content-grid-row4 {
  padding: 0 var(--regular-10-a);

  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
}

@media (max-width: 375px) {
  /* .container {
    width: 300px;
  } */
}

@media (max-width: 768px) {
  /* .container {
    width: 700px;
  } */
}

@media (min-width: 768px) {
  .cards-container {
    margin: var(--regular-30-a);
    padding: var(--regular-30-a);
    min-width: calc(
      var(--card-width) * 3 + var(--regular-30-a) * 3 + var(--regular-5-a)
    );
    /* calculated the cards width plus the margins and added extra 5rems for the borders */
    display: grid;
    grid-template-columns: repeat(3, var(--card-width));
    grid-template-rows: 1fr;
    gap: var(--regular-30-a);
    justify-content: center;
  }
}
